.weather {
  width: 300px;
  border-radius: 6px;
  box-shadow: 10px -2px 20px 2px #888;
  margin-left: 2vw;
  padding: 0px 20px 20px 20px;
  background-color: #333;
  color: #fff;
  margin: 10px auto;
  

}
.top, .bottom{
    display: flex;
    justify-content: space-between;
   
}
.bottom{
    margin: 0 10px;
  
   
}
.city{
    font-weight: 600;
    font-size: 18px;
    line-height: 1;
    margin: 1em;
    letter-spacing: .8px;

}
.curr-weather-desc{
    font-weight: 350;
    font-size: 15px;
    line-height: 1;
    margin: 0;
    letter-spacing: .4px;
}

.weather-icon{
    width: 110px;
}
.convert{
    height: 36px;
    margin:4px;
    width:85px;
    background-color: #b8b5b5;
    border-radius: 6px;

}

.temp{
font-weight:900;
font-size:40px;
padding: 3px;
width: auto;
position: relative;
bottom: 35px;
}
.details{
    width: 100%;
    padding-left: 20px;
}
.param-row{
display: flex;
justify-content: space-between;


}
.param-label{
    font-size: 15px;
}
.param-value{
    text-align: right;
    font-size: 15px;
    font-weight: 600;
}